@model IEnumerable<AspMealTask.Entities.FastFood>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FastFood</title>

    <style>
        body {
            background-color: orange;
        }

        h1 {
            text-align: center;
            color: green;
            font-size: 3em;
        }

        .show_div {
            margin-top: 20px;
            border: solid green 2px;
            display: block;
            width: 200px;
            text-align: center;
            margin-left: 860px;
            cursor: pointer;
            transition-duration: 1s;
        }

            .show_div > img {
                width: 100px;
                height: 100px;
                margin-top:5px;
            }

            .show_div > h2 {
                margin-top: 5px;
                color: white;
                font-size: 2em;
            }
    </style>

</head>
<body>

    <h1>Fast Foods</h1>

    @foreach (var item in Model)
    {
        <div onmouseover="this.style.backgroundColor='black'" onmouseout="this.style.backgroundColor='transparent'" class="show_div">
            <img src="@Url.Content(item.ImagePath)" />
            <h2>@item.Name</h2>
        </div>
    }

</body>
</html>
